:root {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body, button, h1, p {
    font-family: 'Futura';
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100%;
}

// Mixins 
@mixin vertical-center($position: relative) {
    position: $position;
    top: 50%;
    transform: translatey(-50%);
}

// Imports
@import 'footer-menu';
@import 'logo-header';
@import 'little-header';
@import 'main-header';
@import 'section';
@import 'footer';